.app-color{
    background-color: #0b70f3;
}

.title{
    text-align: center;
    color: black;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

.card-elements{
    text-align: center;
}